{{ imports }}
{% if docs.summary.is_some() || docs.description.is_some() %}/**
{% if let Some(summary) = docs.summary %} * {{ summary }}
{% if docs.description.is_some() %} *
{% endif %}{% endif %}{% if let Some(description) = docs.description %} * {{ description }}
{% endif %} */
{% endif %}export interface {{ name.pascal }} {
{% for field in fields %}{% if field.docs.summary.is_some() || field.docs.description.is_some() %}  /**
{% if let Some(summary) = field.docs.summary %}   * {{ summary }}
{% if field.docs.description.is_some() %}   *
{% endif %}{% endif %}{% if let Some(description) = field.docs.description %}   * {{ description }}
{% endif %}   */
{% endif %}  {{ field.name }}{% if field.optional %}?{% endif %}: {{ field.type_str }};
{% endfor %}}

export const {{ name.pascal }}Schema: TypedSchema<{{ name.pascal }}> = typed<{{ name.pascal }}>(object({
{% for field in fields %}{% if field.use_getter %}  get {{ field.name }}() { return {% if field.optional %}optional({{ field.schema_expr }}){% else %}{{ field.schema_expr }}{% endif %} },
{% else %}  {{ field.name }}: {% if field.optional %}optional({{ field.schema_expr }}){% else %}{{ field.schema_expr }}{% endif %},
{% endif %}{% endfor %}}));
