{{ imports }}
{% if let Some(summary) = docs.summary %}/**
 * {{ summary }}
{% if let Some(description) = docs.description %} *
 * {{ description }}
{% endif %} */
{% endif %}export type {{ name.pascal }} = {{ target }};

export const {{ name.pascal }}Schema: TypedSchema<{{ name.pascal }}> = typed<{{ name.pascal }}>({{ schema_target }});
